<footer class="footer bg-dark text-light">
	<div class="container">
		<div class="row align-items-top justify-content-between">
			<div class="col-lg-4 col-12">
				<p>Copyright Andrew Guy, 2022&ndash;</p>
			</div>

			<div class="col-lg-4 col-12">
Contact:
<ul class="list-unstyled">
	<li> <span class="bi-envelope"></span> AndrewAGuy@proton.me </li>
</ul>
			</div>

			<div class="col-lg-4 col-12">
				Find me elsewhere:
				<ul class="list-unstyled">
					<li><a href="https://github.com/AndrewAGuy"><span class="bi-github"></span>/AndrewAGuy</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
